#home {
  background-color: var(--background-primary-color);
  width: 100%;
}

.home-container {
  padding: 0 3rem 0;
}
.home-col h3 {
  font-size: 2rem;
  color: var(--font-seconday-color);
  font-weight: 600;
}
.home-col h1 {
  font-size: 3rem;
  color: var(--font-seconday-color);
  font-weight: 800;
}
.home-col h2 {
  font-size: 2.3rem;
  color: var(--font-seconday-color);
  font-weight: 700;
}
.home-col h2 span {
  font-size: 2.3rem;
  color: var(--font-primary-color);
  font-weight: 700;
}
