#home {
  background-color: var(--background-primary-color);
  width: 100%;
  height: 100vh;
}

.home-container {
  padding: 0 3rem 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-col1 h3 {
  font-size: 2rem;
  color: var(--font-seconday-color);
  font-weight: 600;
}
.home-col1 h1 {
  font-size: 3rem;
  color: var(--font-seconday-color);
  font-weight: 800;
  background: linear-gradient(#20948b, #6ab187);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-col1 h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  color: var(--font-seconday-color);
  font-weight: 700;
}
.home-col1 h2 span {
  font-size: 2.3rem;
  color: var(--font-primary-color);
  font-weight: 700;
  animation: webdev 1s linear infinite;
}
.hireme-btn {
  padding: 0.3rem;
  display: inline-block;
  width: 5rem;
  text-align: center;
  background-color: crimson;
  text-decoration: none;
  color: var(--font-dark-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}
.hireme-btn:hover {
  border: 1px solid crimson;
  color: crimson;
  background-color: transparent;
}

@keyframes webdev {
  100% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(150px);
  }
  25% {
    transform: translateX(100px);
  }
}
.home-image img {
  width: 500px;
  height: 500px;
  background-color: transparent;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .home-image img {
    width: 300px;
    max-width: 100%;
    height: 300px;
  }
}

@media (max-width: 700px) {
  .home-container {
    padding: 0 1.5rem 0;
    height: 100vh;
    flex-direction: column-reverse;
  }
  .home-col1 {
    align-self: flex-start;
  }
  .home-col2 {
    align-self: flex-end;
  }
  .home-image img {
    border-radius: 50%;
    max-width: 100%;
  }
  .home-col1 h1 {
    font-size: 2rem;
  }
  .home-col1 h3 {
    font-size: 1.3rem;
  }
  .home-col1 h2 {
    font-size: 1.5rem;
  }
  .home-col1 h2 span {
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  .home-image img {
    width: 250px;
    max-width: 100%;
    height: 250px;
  }
}
