#projects {
  width: 100%;
  height: 100vh;
  background-color: var(--background-secondary-color);
  padding-top: 100px;
}

.project-continer {
  padding: 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.project-card {
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  border: 1px solid white;
  background-color: black;
}
.project-card img {
  width: 250px;
  height: 250px;
  border: 2px solid white;
  border-radius: 10px;
}
.project-content p {
  color: var(--font-seconday-color);
  font-size: 1rem;
  font-weight: 600;
}
.project-content p span {
  color: var(--font-primary-color);
  font-size: 1rem;
  font-weight: 700;
}
.project-content h4 {
  color: var(--font-primary-color);
  font-size: 1rem;
  font-weight: 700;
}
.project-content a {
  color: var(--font-seconday-color);
  font-size: 1rem;
  font-weight: 700;
}
@media (max-width: 1300px) {
  #projects {
    width: 100%;
    height: auto;
  }
  .project-continer {
    grid-template-columns: 1fr;
  }
  .project-content-container {
    align-items: center;
  }
}
@media (max-width: 750px) {
  .project-continer {
    padding: 0 1rem 0;
  }
  .project-card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .project-card img {
    max-width: 100%;
  }
}
