#contact {
  width: 100%;
  height: 100vh;
  background-color: var(--background-primary-color);
  padding-top: 100px;
}
.contact-container {
  padding: 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
}
.contact-rightcol {
  width: 100%;
  border: 1px solid blue;
}

.form-container input {
  width: 100%;
  box-sizing: border-box;
}
.name-input {
  display: flex;
  gap: 1rem;
}
.form-container textarea {
  width: 100%;
  box-sizing: border-box;
}
