#contact {
  width: 100%;
  background-color: var(--background-primary-color);
}
.contact-title h1 {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: var(--font-seconday-color);
}
.contact-container {
  padding: 0 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
/* contac left col */
.contact-leftcol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-leftcol h1 {
  color: var(--font-primary-color);
  font-size: 2rem;
  font-weight: 700;
}
.contact-leftcol p {
  color: var(--font-seconday-color);
  font-size: 1rem;
  font-weight: 500;
}
.getintouch-detail p {
  color: var(--font-seconday-color);
  font-size: 1rem;
  font-weight: 300;
}
.getintouch-detail h3 {
  color: var(--font-dark-color);
  font-size: 1rem;
  font-weight: 500;
}

.getintouch-detail {
  display: flex;
  gap: 1rem;
}
.getintouch-icon {
  align-self: center;
}
/* contact right col */
.contact-rightcol {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-rightcol h1 {
  color: var(--font-primary-color);
  font-size: 2rem;
  font-weight: 700;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid crimson;
  color: var(--font-seconday-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}
.name-input {
  display: flex;
  gap: 1rem;
}
.form-container textarea {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  background-color: transparent;
  border: 1px solid crimson;
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-seconday-color);
  border-radius: 5px;
}
.form-container button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: var(--font-dark-color);
  background-color: crimson;
  font-size: 1rem;
  font-weight: 500;
}

.form-container button:hover {
  background-color: transparent;
  border: 2px solid crimson;
  color: crimson;
}
@media (max-width: 900px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  #contact {
    height: auto;
  }
  .contact-leftcol {
    gap: 1rem;
  }
  .contact-leftcol h1 {
    text-align: center;
  }
  .contact-rightcol {
    gap: 1rem;
  }
  .contact-rightcol h1 {
    text-align: center;
  }
  .contact-container {
    padding: 0 1rem 0;
  }
  .name-input {
    display: flex;
    flex-direction: column;
  }
}
